.navbar {
    background-color: #dfe3ee;
    color: #fff;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0px;
  }
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:#3b5998;
    margin-top: 2px;
    margin-left: 10px;
  }
  
  .nav-left {
    list-style: none;
    margin: 10px 10px;
    padding: 0;
    display: flex;
  }
  .nav-right{
    list-style: none;
    margin: 10px 10px;
    padding: 0;
    display: flex;
    padding-left: 100px;
    align-items: end;
  }
  
  .nav-left li{
    margin-right: 10px;
  }
  .nav-right li{
    margin-left: 10px;
    margin-right: 0px;
    
  }
  .nav-left li a{
    text-decoration: none;
    color: 	#8b9dc3;
    padding: 5px 10px;
  }
  .nav-right li a{
    text-decoration: none;
    color: 	#8b9dc3;
    padding: 5px 10px;
  } 
  .nav-left li a:hover, .nav-right li a:hover {
    color: 	#8b9dc3;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 5px 10px;
  }
  
  .dropdown-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    background-color: #111;
  }
  body{
    background-color:#f7f7f7;
  }
  

.first{
    text-align: center;
}

header{
    height:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    font-family: 'Open Sans', sans-serif;
}

header img{
    width: 500PX;
    height:300PX;
}

.first{
    color: black;
    width:500px;
    justify-content: center;
    align-self: center;
}

h1{
    font-size: 80px;
    margin-bottom: 0px;
    margin-right: 30px;
    color: #3b5998;
    font-family:'Times New Roman', Times, serif;
}
.row{
    height: 600px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
}
.card{
    width:300px;
    height: 400px;
    display: block;
    box-shadow: 2px 3px 3px 2px rgb(186, 184, 184);
    border-radius: 3px;
    background-color: white;
}


.btn{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}